////controller of input item and input
.input-item2{
  --background: var(--ion-color-primary);
  color: #FFFFFF;
  margin: 4vw 8vw 0 8vw;
  border-bottom: 1px solid rgba(255,255, 255);
  font-size: calc(8px + 1vw);

  ion-label{
    font-family: MontserratMedium;
    font-size: calc(12px + 1vw);
    color: #FFFFFF;
  }
}

//controller of icons
.icon-hide {
  position: absolute;
  width: calc(1vh + 3vw);
  height: calc(1vh + 3vw);

  margin: auto;
  left: 90%;
  bottom: 5px;

  z-index: 2;
  color: #fff;
}

.icon-tick {
  position: relative;
  left: 5vw;
  height: 4vw;
  width: 4vw;
}

ion-avatar img {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  max-width: 5vw !important; //any size
  max-height: 5vw !important; //any size
}

//controller of hint item
.item-hint {
  --background: var(--ion-color-primary);
  top: 2vh;
  height: 4vh;
  left: 8vw;
}

.text-hint {
  position: relative;
  left: 10vw;
  font-family: MontserratMedium;
  font-size: calc(10px + 1vw);
  line-height: 1.5vh;

  display: flex;
  align-items: center;
  letter-spacing: -0.5px;

  color: #FFFFFF;
  opacity: 0.7;

}

//controller of error items
.error {
  --background: var(--ion-color-primary);
  top: 10px;
  left: 5px;
}

.error2 {
  --background: var(--ion-color-primary);
  top: 10px;
  left: 5px;
}

#errorText {
  position: relative;
  top: -30%;
  left: 5%;

  font-family: MontserratMedium;
  font-size: calc(10px + 1vw);
  line-height: calc(1.5vh);
  /* or 142% */

  display: flex;
  align-items: center;
  letter-spacing: -0.5px;

  color: var(--ion-color-tertiary);
}

#errorText2 {
  position: relative;
  top: -30%;
  left: 5%;

  font-family: MontserratMedium;
  font-size: calc(10px + 1vw);
  line-height: calc(1.5vh);
  /* or 142% */

  display: flex;
  align-items: center;
  letter-spacing: -0.5px;

  color: var(--ion-color-tertiary);
}

//----Old Code by Jason---//
//ion-title {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 700;
//  font-size: calc(1.5vh + 1.5vw);
//  line-height: 3vh;
//  /* or 85% */
//  letter-spacing: -0.5px;
//  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
//  color: #FFFFFF;
//
//  width: 100vw;
//  //width 100% and slot=start can place the title in
//  // in the center despite the existence of backbutton
//}

////controller of input item and input
//.inputItem {
//  top: 5vh;
//  height: 10vh;
//}
//
//ion-input {
//  color: black;
//  background: #F2F2F2;
//  border-radius: 30px;
//
//  width: 100%;
//  height: 100%;
//  margin: auto;
//  position: absolute;
//  left: 0;
//  right: 0;
//
//  font-size: calc(2vw + 1vh);
//}
//
//.innerInput {
//  position: relative;
//  height: 5vh;
//  width: 75vw;
//  bottom: 0;
//
//  --padding-top: 0;
//  --padding-bottom: 0;
//  --padding-end: 3vw;
//  --padding-start: 3vw;
//
//  // border-width: 5px;
//  // border-color : #EA5820;
//  z-index: 0;
//}

////controller of input labels
//.inputLabel {
//  position: relative;
//  left: 10vw;
//  font-size: 1.8vh;
//
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 500;
//  line-height: 3vh;
//  /* or 113% */
//
//  display: flex;
//  align-items: center;
//  letter-spacing: -0.5px;
//
//  color: #FFFFFF;
//
//  opacity: 0.7;
//}

////controller os buttons Text
//#buttonText {
//  color: #E9E9EE;
//
//  font-size: calc(1.5vh + 0.5vw);
//  line-height: 1vh;
//
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 500;
//
//  display: flex;
//  align-items: center;
//  text-align: center;
//  letter-spacing: 0.05em;
//}

////controller of button
//.buttonsCon {
//  width: 100%;
//  height: 100%;
//  margin: auto;
//  position: absolute;
//  left: 0;
//  right: 0;
//
//  --background: #6C6AEB;
//  --background-hover: #9ce0be;
//  --background-activated: #88f4be;
//  --background-focused: #88f4be;
//
//  --color: #FFFFFF;
//
//  --border-color: #000;
//  --border-style: solid;
//  --border-width: 1px;
//
//  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
//
//  --ripple-color: deeppink;
//
//  --padding-top: 10px;
//  --padding-bottom: 10px;
//}

//#complete {
//  width: 75vw;
//  height: 5vh;
//  top: 70vh;
//  opacity: 0.9;
//}
