<!--header part-->
<ion-header class="ion-no-border">
  <ion-toolbar style="padding:0 20px" class="header-toolbar">
    <ion-buttons slot="start"><ion-button>
      <ion-back-button icon="/assets/custom-icons/ew-back.svg"></ion-back-button>
    </ion-button></ion-buttons>
    <ion-title class="ion-text-center header-title">CHANGE PASSWORD</ion-title>
    <ion-buttons slot="end" >
      <ion-button><ion-icon></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--change password input -->
<ion-content [scrollY]="true">

  <form [formGroup]="ionicForm" novalidate>
  <ion-item mode="ios" class="input-item2" lines="none">
    <ion-label position="stacked" color="secondary">Current Password</ion-label>
    <ion-input required="true" placeholder="Enter current password" [type]="showPwdUp ? 'text' : 'password'" formControlName="currentPwd"
               [(ngModel)]="currentPwd"></ion-input>
    <ion-icon name={{iconNameUp}} class="icon-hide" (click)=togglePwdUp()></ion-icon>
  </ion-item>

  <ion-item mode="ios" class="input-item2" lines="none">
    <ion-label position="stacked" color="secondary">New Password</ion-label>
    <ion-input placeholder="Enter new password" id="errorInput" [type]="showPwdMiddle ? 'text' : 'password'"
               formControlName="newPwd" [(ngModel)]="newPwd"></ion-input>
    <ion-icon name={{iconNameMiddle}} class="icon-hide" (click)=togglePwdMiddle()></ion-icon>
  </ion-item>
  </form>

  <!--Error message function -->
  <div *ngIf="checkSame(); else tickTemplate">
    <div>{{setError()}}</div>
    <ion-item class="error" lines="none">
      <ion-label id="errorText">**Please do not reuse an old password</ion-label>
    </ion-item>
  </div>

  <ng-template #tickTemplate>
    <div>{{resetError()}}</div>
    <div *ngIf="checkLength(); else untickTemplate">
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/Success.png">
        <ion-label class="text-hint">8 characters or more</ion-label>
      </ion-item>
    </div>
    <ng-template #untickTemplate>
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/notick.png">
        <ion-label class="text-hint">8 characters or more</ion-label>
      </ion-item>
    </ng-template>

    <div *ngIf="checkMix(); else untickTemplate2">
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/Success.png">
        <ion-label class="text-hint">Mix of upper & lowercase letters</ion-label>
      </ion-item>
    </div>
    <ng-template #untickTemplate2>
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/notick.png">
        <ion-label class="text-hint">Mix of upper & lowercase letters</ion-label>
      </ion-item>
    </ng-template>

    <div *ngIf="checkNum(); else untickTemplate3">
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/Success.png">
        <ion-label class="text-hint">Contains at least one number</ion-label>
      </ion-item>
    </div>
    <ng-template #untickTemplate3>
      <ion-item class="item-hint" lines="none">
        <img class="icon-tick" src="/assets/icon/notick.png">
        <ion-label class="text-hint">Contains at least one number</ion-label>
      </ion-item>
    </ng-template>
  </ng-template>


<!--  Enter new password-->
  <form [formGroup]="ionicForm" novalidate>
    <ion-item mode="ios" class="input-item2" lines="none">
      <ion-label position="stacked" color="secondary">New Password, again</ion-label>
      <ion-input placeholder="Enter new password again" id="errorInput2" [type]="showPwdDown ? 'text' : 'password'"
                 formControlName="againPwd" [(ngModel)]="againPwd"></ion-input>
      <ion-icon name={{iconNameDown}} class="icon-hide" (click)=togglePwdDown()></ion-icon>
    </ion-item>
  </form>

<!--  Password Validation function-->
  <div *ngIf="checkSame2(); else reset">
    {{setError2()}}
    <ion-item class="error2" lines="none">
      <ion-label id="errorText2">**Inconsistent password!</ion-label>
    </ion-item>
  </div>
  <ng-template #reset>{{resetError2()}}</ng-template>

<!--button part-->
  <div class="button-align">
    {{ableButton()}}
    <ion-button style="position: absolute;top:60vh;" class="button-secondary-bg" id="complete" expand="block" shape="round"
    (click)="onChangePwd(this.currentPwd, this.newPwd)">
      <p class="button-text">Complete</p>
    </ion-button>
  </div>

</ion-content>


