#modalTitle {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(1.5vh + 1.5vw);
  text-align: center;
  line-height: 5vh;
  color: #1F1D29;
  background-color: #FFFFFF;
  border: transparent;
}

#emailImg {
  margin: auto;
  height: 10vh;
  width: 10vh;
}

#modalText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: calc(1vh + 1.5vw);
  align-items: center;
  text-align: center;

  color: #000000;
  margin: 20px;
}
#backSignin {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 5vh;
  width: 60%;

  margin-bottom: 2vh;
  --background: #6C6AEB;
  --border-radius: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: calc(1.5vh + 1vw);
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
// #wrapper{
//   --height: calc(30vh + 10vw);
//   --width: calc(20vw + 20vh);
// }

