ion-toolbar {
  position: relative;
  background-color: #252856;
  min-height: 7vh;
}
#title {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 5vh;
  /* or 85% */
  align-items: center;
  letter-spacing: -0.5px;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  color: #FFFFFF;

  margin-top: 10px;
  text-align: center;
}

ion-content {
  position: relative;
  --background: #252856;
  --color: #fff;
}

ion-button {
  --background: #252856;
  height: calc(4vh + 0.8vw);
  width: calc(4vh + 0.8vw);
}

#text {
  position: relative;
  height: 100%;
  width: 90%;

  margin: auto;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;

  color: #FFFFFF;
}
